* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    /* background-color: rgb(226 232 240); */
    overflow-y: scroll;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(128,0,128,.8), rgba(128,0,128,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

button {
    padding: 1rem 1.5rem;
    background: rgb(128,0,128, 0.4);
    border: rgb(128,0,128, 0.3) 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: x-large;
    color: #ebe8eb;
    min-width: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: rgb(128,0,128, 0.8);
    border-color: rgb(128,0,128, 0.8);
}

#main-container {
    padding: 2rem 4rem;
}

#main-text {
    font-size: 2rem;
    background-color: rgb(128,0,128, 0.1);
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    color: #450845;
}

#main-buttons {
    flex-direction: column;

    > a > button{
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    #main-text {
        font-size: 2.5rem;
    }

    #main-container {
        padding: 0 10rem;
    }

    #main-buttons {
        flex-direction: row;
    }
}

